.App {
  font-family: 'NanumSquareNeoBold';
  width: 80%;
  margin: auto;
}

.App h1 {
  text-align: center;
  margin-top: 10px;
}

.banner {
  width: 100%;
  height: 150px;
}

.header a {
  color: lightgray;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}

.header a:hover {
  color: whitesmoke;
}

.user_photo {
  width: 50px;
}

.profile_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid cornflowerblue;
}
